{% extends 'Administrador/base_administrador.html' %}
{% load static %}

{% block title %}SIRAC - Editar Trimestre{% endblock %}

{% block content %}
<div class="container">
  <div class=" container-main bg-white p-4 mb-5 ">
    <h3 class="text-center text-white p-2" style="background-color: rgb(34, 133, 86);">Actualizar Trimestre</h3>
    <form class="p-3 m-2 mb-4" style="background-color: #D3D3D3;" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="name">Trimestre <strong>*</strong></label>
        <input type="text" name="name_Tri" class="form-control" value="{{name_Tri}}">
      </div>
      <div class="d-flex justify-content-between">
        <button class="btn btn-primary" type="submit"><i class="fa fa-user"></i> Actualizar Trimestre</button>
        {% if messages %}
        {% for message in messages %}
        {% if messages.tags != 'success' %}
        <div class="ml-4" style="color: black;">
          <strong class="px-0">{{aviso}}</strong> {{message}}
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <a class="btn btn-secondary ml-auto mr-4" href="{% url 'register_trimester' %}">Cancelar</a>
      </div>
    </form>
    <div class="d-flex justify-content-between mb-3">
    </div>
  </div>
</div>
{% endblock %}