{% extends 'Instructor/base_instructor.html' %}
{% load static %}
{% block title %}SIRAC - Registro de Asistencias{% endblock %}
{% block nav %}
{% for key, esp in especialidades_t.items %}
<form method="post">
    {% csrf_token %}
    <input type="hidden" name="especialidad" value={{esp.id}}>
    <input type="hidden" name="ficha" value={{esp.ficha.number_F}}>
    <button class="btn dropdown-item" type="submit">{{esp.ficha.number_F}}</button>
</form>
{% endfor %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="container-main bg-white p-4 mb-5">
        <div class="d-flex justify-content-between mb-4">
            <h3 style="max-width: 40%;">Ficha N°: {{ficha.number_F}}</h3>
            <h3>{{ficha.especialidad}}</h3>
            <div class="dropdown">
                <div class="h4">Seleccione mes: <br>
                    <div class="input-group mt-1">
                        <form method="post">
                            {% csrf_token %}
                            <select class="custom-select" onchange="this.form.submit()" name="mes_seleccionado">
                                <option value="0">Mostrar todo</option>
                                {% for mes, valor in meses.items %}
                                    {% if valor == mes_seleccionado %}
                                        <option value={{valor}} selected>{{mes}}</option>y
                                    {% else %}
                                        <option value={{valor}}>{{mes}}</option>y
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="text-center text-white p-2 mb-0" style="background-color: rgb(49, 61, 61);">Registro de Asistencias
        </h3>
        <div class="table-responsive">
            <table class="text-nowrap table table-bordered table-striped table-condensed table-success text-center my-0"
                style="height: 344px;">
                <thead>
                    <tr>
                        <th style="width: 4%;" class="align-middle">#</th>
                        <th class="align-middle">Nombre Aprendiz</th>
                        {% for key, fecha in fechas.items %}
                        {% if fecha.mes == mes_seleccionado or mes_seleccionado == "0" %}
                        <th class="align-middle" style="width: 4%;">{{fecha.dia}}/{{fecha.mes}}</th>
                        {% endif %}
                        {% endfor %}
                        <th class="align-middle" style="width: 4%;">Editar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, appr in tabla.items %}
                    <tr>
                        <td class="align-middle">{{ appr.num }}</td>
                        {% if appr.conteo.si == 0 and appr.conteo.no > 3 %}
                        <td class="d-flex justify-content-between border-dark" title="Aprendiz nunca ha asistido">
                            <span></span>
                            {{appr.first_name}} {{appr.second_name}} {{appr.F_last_name}} {{appr.S_last_name}}
                            <span class="badge badge-dark badge-pill pt-1" title="Conteo de fallas">{{appr.conteo.no}}</span>
                        </td>
                        {% elif appr.conteo.no > 2 %}
                        <td class="d-flex justify-content-between border-danger" title="Mas de tres fallas">
                            <span></span>
                            {{appr.first_name}} {{appr.second_name}} {{appr.F_last_name}} {{appr.S_last_name}}
                            <span class="badge badge-danger badge-pill pt-1" title="Conteo de fallas">{{appr.conteo.no}}</span>
                        </td>
                        {% elif appr.conteo.no == "0" %}
                        <td class="align-middle">{{appr.first_name}} {{appr.second_name}} {{appr.F_last_name}} {{appr.S_last_name}}</td>
                        {% else %}
                        <td class="d-flex justify-content-between">
                            <span></span>
                            {{appr.first_name}} {{appr.second_name}} {{appr.F_last_name}} {{appr.S_last_name}}
                            <span class="badge badge-secondary badge-pill pt-1" title="Conteo de fallas">{{appr.conteo.no}}</span>
                        </td>
                        {% endif %}
                        {% for key, asis in appr.asistencias.items %}
                        {% if asis.fecha.mes == mes_seleccionado or mes_seleccionado == "0" %}
                        <td>
                            {% if asis.Estado_Asistencia_id == 1 %}
                                <i class="fa fa-check fa-lg"></i>
                            {% elif asis.Estado_Asistencia_id == 3 %}
                                {% for key, exc in appr.excusas.items %}
                                    {% if exc.Asistencia_id == asis.id %}
                                        {% if exc.Soporte_Excusa == 'no' %}
                                            <i class="far fa-clock text-secondary" title="Excusa pendiente"></i>
                                        {% else %}
                                            <form method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="excusa" value="media/{{exc.Soporte_Excusa}}">
                                                <button class="btn p-0 fa fa-file-alt fa-lg text-primary" type="submit" title="Excusa adjunta"></button>
                                            </form>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                            -
                            {% endif %}
                        </td>
                        {% endif %}
                        {% endfor %}
                        <td class="p-1 align-middle">
                            <form method="post">
                              {% csrf_token %}
                              <input type="hidden" name="Editar" value="{{appr.N_Documento}}">
                              <button class="btn fa fa-edit fa-2x p-0 text-primary" type="submit"></button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr style="height: 100%;">
                    </tr>
                </tbody>
            </table>
        </div>
        <h5 class="mb-3 p-3" style="background-color: rgb(49, 61, 61);"></h5>
        <div class="d-flex justify-content-between mb-4">
            <a class="btn btn-secondary text-white" href="{% url 'home_ins' %}">
                <i class="btn fa fa-arrow-circle-left fa-lg p-0 text-white" aria-hidden="true"></i>
                Volver
            </a>
            <a class="btn btn-success text-white" href="{% url 'take_assis' %}">
                <i class="btn fas fa-pencil-alt fa-lg p-0 text-white" aria-hidden="true"></i>
                Tomar Asistencia</a>
        </div>
    </div>
</div>
</div>

<div class="modal fade" id="Pdf-Modal" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width: 400px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cita_Medica_12-03-2021.pdf</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Fecha de subida: 12-03-2021
                <img class="w-100 mt-2" src="{% static 'img/Excusa_medica.png'%}" alt="Excusa Medica">
                <h6 class="mb-3 p-2 bg-dark text-white">Vista previa</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-success"> <i class="fa fa-arrow-circle-down"></i> Descargar</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Guardar-Modal" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width: 400px;">
        <div class="modal-content bg-modal">
            <div class="modal-body">
                <h5 class="modal-title">Guardado con exito!!</h5>
            </div>
            <div class="modal-footer">
                <form action="/home/" method="post">
                    {% csrf_token %}
                    <button class="btn btn-success" type="submit">Aceptar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}