{% extends 'Administrador/base_administrador.html' %}
{% load static %}
{% block title %}SIRAC - Registro de Fichas{% endblock %}
{% block content %}
<div class="container">
    <div class=" container-main bg-white p-4 mb-5 ">
        <h3 class="text-center mb-3">Centro de Electricidad, Electronica y Telecomunicaciones - CEET</h3>
        <h3 class="text-center text-white p-2 mb-0" style="background-color: rgb(49, 61, 61);">Registro de Fichas
        </h3>
        <div class="table-responsive">
            <table class="text-nowrap table table-bordered table-striped table-condensed table-success text-center my-0"
                style="height: 344px;">
                <thead>
                    <tr>
                        <th style="width: 4%;" class="align-middle">#</th>
                        <th class="align-middle">Numero de Ficha</th>
                        <th class="align-middle">Programa</th>
                        <th class="align-middle">Jornada</th>
                        <th class="align-middle">Sede</th>
                        <th class="align-middle" colspan="2" style="width: 4%;">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, Fich in fichas_t.items %}
                    <tr>
                        <td>{{ Fich.num }}</td>
                        <td class="h5 align-middle p-0" style="font-family: 'Times New Roman', Times, serif;">
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="Ficha" value="{{Fich.number_F}}">
                                <button type="submit" class="btn p-0" style="font-size: 20px;"><u class="text-primary">{{Fich.number_F}}</u></button>
                            </form>
                        </td>
                        <td class="h5" style="font-family: 'Times New Roman', Times, serif;">
                            {% for key, Prog in programas_t.items %}
                            {% if Fich.Programa_id == Prog.id %}
                            {{ Prog.acronym_P }}
                            {% endif %}
                            {% endfor %}
                        </td>
                        <td class="h5" style="font-family: 'Times New Roman', Times, serif;">
                            {% for key, Jor in jornadas_t.items %}
                            {% if Fich.Jornada_id == Jor.id %}
                            {{ Jor.name_J }}
                            {% endif %}
                            {% endfor %}
                        </td>
                        <td class="h5" style="font-family: 'Times New Roman', Times, serif;">
                            {% for key, Sed in sedes_t.items %}
                            {% if Fich.Sede_id == Sed.id %}
                            {{ Sed.name_S }}
                            {% endif %}
                            {% endfor %}
                        </td>
                        <td class="p-1 align-middle">
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="Editar" value="{{Fich.number_F}}">
                                <button class="btn fa fa-edit fa-2x p-0 text-primary" type="submit"></button>
                            </form>
                        </td>
                        <td class="p-1 align-middle">
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="Eliminar" value="{{Fich.number_F}}">
                                <button class="btn fa fa-trash fa-2x p-0 text-danger" type="submit"></button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr style="height: 100%;">
                    </tr>
                </tbody>
            </table>
        </div>
        <h5 class="mb-3 p-3" style="background-color: rgb(49, 61, 61);"></h5>
        <div class="d-flex justify-content-between mb-4">
            <a class="btn btn-secondary text-white" href="{% url 'home' %}">
                <i class="btn fa fa-arrow-circle-left fa-lg p-0 text-white" aria-hidden="true"></i>
                Volver
            </a>
            {% if messages %}
            {% for message in messages %}
            {% if messages.tags != 'success' %}
            <div class="py-2" style="color: black;">
                <strong>{{message}}</strong>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            <button class="btn botonAñadir text-white" data-toggle="modal" data-target="#AñadirFicha-Modal">
                <i class="btn fa fa-plus fa-lg p-0 text-white" aria-hidden="true"></i>
                Añadir Ficha
            </button>
        </div>
    </div>
</div>

<div class="modal fade" id="AñadirFicha-Modal" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width: 400px;">
        <div class="modal-content bg-modal">
            <div class="modal-header">
                <h5 class="modal-title"><strong>Añadir nuevo registro en:</strong> Ficha</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Para añadir una nueva ficha debe seleccionar el archivo (Excel, .xlsx) con la informacion de la ficha y
                el listado de aprendices.
                <div class="form-group my-4">
                    <label for="file">Adjuntar archivo: </label>
                    <input type="file" class="form-control pb-4" id="file">
                </div>
                Tambien puedes añadir una ficha manualmente:
                <div class="form-group mt-2">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal"
                        data-target="#RegistrarFicha-Modal">Añadir manualmente</button>
                </div>
            </div>
            <div class="modal-footer d-flex">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">Añadir</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="RegistrarFicha-Modal" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width: 450px;">
        <div class="modal-content bg-modal">
            <form method="post">
                {% csrf_token %}
                <input type="hidden" class="form-control" name="Añadir" value="100">
                <div class="modal-header">
                    <h5 class="modal-title"><strong>Añadir nueva Ficha</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label h4">Numero de Ficha</label>
                        <input type="text" class="form-control" name="number_F">
                        <label for="recipient-name" class="col-form-label h4">Seleccione Programa:</label>
                        <div class="input-group mt-1">
                            <select class="form-control" name="Programa_id">
                                <option value="" selected>--Seleccione una opcion--</option>
                                {% for key, pro in programas_t.items %}
                                <option value={{pro.id}}>{{ pro.name_P }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <label for="recipient-name" class="col-form-label h4">Seleccione Jornada:</label>
                        <div class="input-group mt-1">
                            <select class="form-control" name="Jornada_id">
                                <option value="" selected>--Seleccione una opcion--</option>
                                {% for key, jor in jornadas_t.items %}
                                <option value={{jor.id}}>{{ jor.name_J }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <label for="recipient-name" class="col-form-label h4">Seleccione Sede:</label>
                        <div class="input-group mt-1">
                            <select class="form-control" name="Sede_id">
                                <option value="" selected>--Seleccione una opcion--</option>
                                {% for key, sed in sedes_t.items %}
                                <option value={{sed.id}}>{{ sed.name_S }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success">Añadir</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="Guardar-Modal" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width: 400px;">
        <div class="modal-content bg-modal">
            <div class="modal-body">
                <h5 class="modal-title">Guardado con exito!!</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Eliminar-Modal" data-backdrop="static" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="width: 400px;">
        <div class="modal-content bg-modal">
            <div class="modal-header">
                <h5 class="modal-title">Eliminar Registro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Esta seguro de eliminar el registro?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Continuar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}